# Dependencies
node_modules/
backend/venv/
venv/

# Environment Files
.env
.env.local
.env.*.local

# Databases
*.db
*.sqlite3

# Build outputs
dist/
frontend/dist/
dist-ssr/

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Python compiled cache
__pycache__/
*.py[cod]
*$py.class
